<section data-ng-controller="DatabasesController" data-ng-init="info() ">
	<div class="page-header">
		<h1 data-ng-bind="database.name"></h1>
	</div>
	<small>
		<em class="text-muted">
			host address
			<span data-ng-bind="database.host "></span>
			and port no
			<span data-ng-bind="database.port "></span>
			<br>	
			Created on
			<span data-ng-bind="database.created | date:'mediumDate'"></span>
		</em>
	</small>
	<hr>
	<section>
		<h3>Redis Info for "{{database.name}}"</h3>
		{{redisinfo}}
	</section>
</section>
