<section data-ng-controller="DatabasesController" data-ng-init="findOne()">
<div class="page-header">
  <h1 data-ng-bind="database.name"></h1>
</div>
<div class="row">
  <div class="col-md-4">
    <piechart info="dbarray"  names="dbnames"><div></div></piechart>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <h3>Redis Info for "{{database.name}}"</h3>
    <br/>

    <em class="text-muted">
      host address
      <span data-ng-bind="database.host "></span>
      and port no
      <span data-ng-bind="database.port "></span>
      <br>
      <small>
        Created on
        <span data-ng-bind="database.created | date:'mediumDate'"></span>
      </em>
    </small>
  </div>
  <div class="col-md-3 col-md-offset-1" data-ng-show="authentication.user._id === database.user._id">
    <a class="btn btn-primary" href="/#!/databases/{{database._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</div><br><br><br><br>
<hr>
<div class="row">
  <form data-ng-submit=userConsole()>
    <div class="form-group">
      <div data-ng-show="consoledb">
        <label class="control-label" for="host">redis@{{database.host}}:{{database.port}}[{{consoledb.workingdb}}]</label>
        <input type="text" data-ng-model="userCommand" placeholder="Enter Command" required>
      </div>
      <div data-ng-hide="consoledb">
        <label class="control-label" for="host">redis@{{database.host}}:{{database.port}}</label>
        <input type="text" data-ng-model="userCommand" placeholder="Enter Command" required>
      </div>
    </div>
    {{commandResponse.result}}
    <div class="form-group">
      <input type="submit" class="btn btn-default">
    </div>
  </form>
</div>
</section>
